body {
    background-color: #F9F9F5;
    color: #2C3E50;
    font-size: 16px;
}

body,
button,
input,
select {
    font-family: "XHei Intel", "Hiragino Sans GB", "Microsoft Yahei", "WenQuanYi Micro Hei", sans-serif;
}

a {
    color: #08c;
    text-decoration: none;
}

hr {
    border: 0;
    border-bottom: 1px dashed #cfcfcf;
    margin: 30px 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

h2 {
    margin: 35px 0 20px;
    font-size: 26px;
}
h3 {
    margin: 20px 0;
    font-size: 21px;
}

blockquote {
    padding: 10px 15px;
    margin: 0 0 20px;
    border-color: #D6DBDF;
    background: none repeat scroll 0 0 rgba(102,128,153,.05);
    border-left-style: solid;
    border-left-width: 10px;
}
blockquote p {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
}
blockquote p:last-child {
    margin-bottom: 0;
}

code {
    background-color: #D6DBDF;
    border-radius: 4px;
    border: 0;
    color: #2C3E50;
    font-family: "Envy Code R", Consolas, Monaco, Menlo, "Courier New", monospace;
    font-size: 14px;
    white-space: nowrap;
}

.topinfo {
    margin: 40px auto;
    font-size: 16px;
    color: #AAA;
    display: block;
    position: relative;
}
.topinfo code {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    padding: 0 20px;
}
.topinfo code a {
    color: #2C3E50;
    text-decoration: none;
}

.posts {
    font-size: 16px;
}
.posts a {
    color: #2C3E50;
    text-decoration: none;
}
.post-entry .post-meta {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-size: .8rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.post-entry .post-summary {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: justify;
    opacity: 0.7;
    position: relative;
}
.post-entry .post-footer {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}
.post-entry .post-footer .read-more {
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    opacity: 0.7;
}

.post-tags li {
    background-color: #D6DBDF;
    border-radius: 4px;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    margin-right: 10px;
    padding: 0 20px;
}
.post-tags li .tag {
    color: #2C3E50;
    font-size: 13px;
}

/* Larger than mobile */

@media (min-width: 400px) {}


/* Larger than phablet (also point when grid becomes active) */

@media (min-width: 550px) {}


/* Larger than tablet */

@media (min-width: 750px) {}


/* Larger than desktop */

@media (min-width: 1000px) {}


/* Larger than Desktop HD */

@media (min-width: 1200px) {}
